<div class="container pt-5 mt-5">
  <h2>個人顧客　新規登録</h2>
  <div class="row">
    <%= link_to "一覧画面", store_individual_customers_path %>
  </div>
　<div class="row">
    <%= form_with model: @individual_customer, url: store_individual_customers_path, local:true do |f| %>
      <form>
        <div class="form-growp mt-3">
          <label for="last_name">姓</label><span class="text-danger">(必須)</span>
          <%= f.text_field :last_name %>
        </div>
        <div class="form-growp mt-3">
          <label for="first_name">名</label><span class="text-danger">(必須)</span>
          <%= f.text_field :first_name %>
        </div>
        <div class="form-growp mt-3">
          <label for="last_name_kana">セイ</label><span class="text-danger">(必須)</span>
          <%= f.text_field :last_name_kana %>
        </div>
        <div class="form-growp mt-3">
          <label for="first_name_kana">メイ</label><span class="text-danger">(必須)</span>
          <%= f.text_field :first_name_kana %>
        </div>
        <div class="form-growp mt-3">
          <label for="postal_code">郵便番号</label>
          <%= f.text_field :postal_code %>
        </div>
        <div class="form-growp mt-3">
          <label for="address">住所</label>
          <%= f.text_field :address %>
        </div>
        <div class="form-growp mt-3">
          <label for="telephone_number">電話番号(ハイフンなし)</label>
          <%= f.text_field :telephone_number %>
        </div>
        <div class="form-growp mt-3">
          <label for="business">職業</label>
          <%= f.text_field :business %>
        </div>
        <div class="form-growp mt-3">
          <label for="yearly_income">年収(千)</label>
          <%= f.text_field :yearly_income %>
        </div>
        <div class="form-growp mt-3">
          <label for="birthday">誕生日(****/**/**)</label>
          <%= f.text_field :birthday %>
        </div>
        <div class="form-growp mt-3">
          <label for="is_active">融資有無</label>
          <div class="active">
            <%= f.radio_button :is_active, :true %>
            <%= f.label :is_active, "有効", value: true %>
            <%= f.radio_button :is_active, :false %>
            <%= f.label :is_active, "消滅", value: false %>
          </div>
        </div>
        <div class="form-growp mt-5">
          <%= f.submit "登録する", class: "btn btn-outline-secondary" %>
        </div>
      </form>
    <% end %>
　</div>
</div>